:root {
    --background-color: #181818;
    --heading-color: #4308C2;
    --subtext-color: #FFFFFF;
    --button-color: #5237D4;
    --button-inactive: #696A6A;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000000;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 5%;
}

.square-eyes {
    width: 200px;
    height: 50px;
}

.navigation {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.fa-cart-shopping {
    padding-right: 20px;
    color: #FFFFFF;
}

.fa-bars {
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 5%;
}

.square {
    color: #4308C2;
}

.eyes {
    color: #9B6CFE;
}

.streaming-container,
.cinema-container,
.market-container {
    width: 364px;
    height: 97px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #000000;
   margin-left: 32px;
   margin-bottom: 20px;
}

.info-streaming,
.info-cinema,
.info-market {
    width: 420px;
    height: 370px;
    background-color: #252525;
    text-align: center;
    color: #FFFFFF;
    margin: 0 5px;
    border-radius: 6px;
}

.info-streaming h3 {
    font-size: 20px;
    font-weight: 500;
}

.info-streaming p {
    color: #D9D9D9;
    font-size: 12px;
    font-weight: 400;
    padding: 25px;

}

.info-cinema h3 {
    font-size: 20px;
    font-weight: 500;
}

.info-cinema p {
    color: #D9D9D9;
    font-size: 12px;
    font-weight: 400;
    padding: 25px;
}

.info-market h3 {
    font-size: 20px;
    font-weight: 500;
}

.info-market p {
    color: #D9D9D9;
    font-size: 12px;
    font-weight: 400;
    padding: 25px;
}

.customers h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 5%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 5%;
}

.marie {
    width: 200px;
    height: 232px;
    background-color: #252525;
    border-radius: 6px;
}

.rating {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 8px;

}

.fa-star {
    color: #E3CD00;
    padding-left: 5px;
}

.first-name {
    color: #FFFFFF;
    opacity: 60%;
    padding-bottom: 12px;
}

.first-name,
.sub-text {
    text-align: center;
    color: #D9D9D9;
    font-size: 12px;
}

.marie img {
    padding-left: 57px;
}

.grete {
    width: 200px;
    height: 232px;
    background-color: #252525;
    border-radius: 6px;
}

.grete img {
    padding-left: 57px;
}

.martin {
    width: 200px;
    height: 232px;
    background-color: #252525;
    border-radius: 6px;

}

.martin img {
    padding-left: 57px;
}

.tommy {
    width: 200px;
    height: 232px;
    background-color: #252525;
    border-radius: 6px;

}

.tommy img {
    padding-left: 57px;
}

.jim {
    width: 200px;
    height: 232px;
    background-color: #252525;
    border-radius: 6px;
}

.jim img {
    padding-left: 57px;
}

.louis {
    width: 200px;
    height: 232px;
    background-color: #252525;
    border-radius: 6px;
}

.louis img {
    padding-left: 57px;
}

.footer {
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}

.copy-right {
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 5px;
}

.footer-paragraph {
    padding-right: 190px;
    padding-left: 25px;
}

.copy-right {
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 5px;
}

@media (min-width: 430px) {
    .navigation ul {
        display: none;
    }

    .icon-header-two {
        display: none;
    }

    .footer-container {
        display: none;
    }
    a{
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        color: #FFFFFF;
     }
     a:hover{
         color: #4A0FC8;
     }
}

@media (min-width: 1024px) {
    .about-container {
        display: flex;
        gap: 12px;
        margin: 0;
        padding-bottom: 10%;
        justify-content: center;
        align-items: center;
    }

    .info-streaming,
    .info-cinema,
    .info-market {
        margin: 0;
    }

    .footer-desk {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #D9D9D9;
        font-family: 'Poppins', sans-serif;
        padding-top: 33px;
        padding-left: 20px;
        padding-bottom: 23px;
        padding-right: 150px;
    }

    .footer-desk-two {
        display: flex;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        padding-left: 70px;
    }

    .help {
        padding-right: 199px;
    }

    .footer {
        display: none;
    }

    .copy-right {
        display: none;
    }

    .footer-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 1440px;
        height: 181px;
        background-color: #181818;
        width: 100%;
    }

    .word-flex {
        display: flex;
        flex-grow: 1;
        gap: 34px;
        width: 100%;
    }

    .icons-flex {
        display: flex;
        gap: 34px;
        flex-grow: 1;
    }

    .header {
        width: 100%;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navigation a {
        font-size: 16px;
        font-weight: 400;
        color: #D9D9D9;
        text-decoration: none;


    }

    .navigation ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 24px;
        list-style-type: none;
        padding: 0px;

    }

    .icon-header {
        display: none;
    }

    .fa-cart-shopping {
        display: none;
    }

    .icon-header-two {
        display: flex;
        align-items: center;
        gap: 20px;
        color: #D9D9D9;
    }
}

@media (min-width: 1280px) {
    .about-container {
        display: flex;
        gap: 12px;
        margin: 0;
        padding-bottom: 10%;
        justify-content: center;
        align-items: center;
    }

    .info-streaming,
    .info-cinema,
    .info-market {
        margin: 0;
    }

    .footer-desk {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #D9D9D9;
        font-family: 'Poppins', sans-serif;
        padding-top: 33px;
        padding-left: 20px;
        padding-bottom: 23px;
        padding-right: 150px;
    }

    .footer-desk-two {
        display: flex;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        padding-left: 70px;
    }

    .help {
        padding-right: 199px;
    }

    .footer {
        display: none;
    }

    .copy-right {
        display: none;
    }

    .footer-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 1440px;
        height: 181px;
        background-color: #181818;
        width: 100%;
    }

    .word-flex {
        display: flex;
        flex-grow: 1;
        gap: 34px;
        width: 100%;
    }

    .icons-flex {
        display: flex;
        gap: 34px;
        flex-grow: 1;
    }

    .header {
        width: 100%;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navigation a {
        font-size: 16px;
        font-weight: 400;
        color: #D9D9D9;
        text-decoration: none;


    }

    .navigation ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 24px;
        list-style-type: none;
        padding: 0px;
    }

    .icon-header {
        display: none;
    }

    .fa-cart-shopping {
        display: none;
    }

    .icon-header-two {
        display: flex;
        align-items: center;
        gap: 20px;
        color: #D9D9D9;
        padding-left: 100px;
    }
    a{
       position: relative;
       text-decoration: none;
       letter-spacing: 0.5px;
    }
    a:hover{
        color: #4308C2;
    }

}