:root {
    --background-color: #181818;
    --heading-color: #4308C2;
    --subtext-color: #FFFFFF;
    --button-color: #5237D4;
    --button-inactive: #696A6A;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-eyes {
    width: 200px;
    height: 50px;
}

.navigation {
    padding: 20px;
}

.fa-cart-shopping {
    padding-right: 20px;
    color: #FFFFFF;
}

.fa-bars {
    color: #FFFFFF;
}
.h-header{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.contact-container{
    width: 310px;
    height: 328px;
    background-color: #252525;
    text-align: center;
    margin: 32px 60px;

}
.chat{
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-top: 16px;
} 
.p-online{
    color: #D9D9D9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 32px;
}
.start{
    width: 200px;
    height: 47px;
    color: #FFFFFF;
    background-color: var(--button-color);
    border: none;
    border-radius: 6px;
    margin-top: 61px;
    font-size: 14px;
    font-weight: 400;
}
.contact{
    width: 310px;
    height: 340px;
    background-color: #252525;
    margin: 32px 60px;
    text-align: center;
}
.mail{
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-top: 16px;
    text-align: center;
}
.email{
    color: #FFFFFF;
    font-size: 14px;
   text-align: center;
}
.email input{
    border-radius: 6px;
    width: 200px;
    height: 28px;
    
}

.e-mail, .subject, .text-box{
    font-size: 14px;
    font-weight: 400;
}
.e-mail{
    padding-right: 100px;
}
.subject{
    padding-right: 145px;
}
.text-box{
    padding-right: 90px;
}
.send{
    background-color: #4A0FC8;
    color: #FFFFFF;
    font-size: 14px;
    width: 83px;
    height: 24px;
    border: none;
    border-radius: 6px;
    margin-top: 13px;
}
.email textarea{
resize: none;
width: 200px;
height: 122px;
border-radius: 6px;
font-family: 'Poppins', sans-serif;
font-size: 12px;
font-weight: 400;
}
.messenger{
    width: 310px;
    height: 328px;
    background-color: #252525;
    text-align: center;
    margin: 32px 60px;
}
.messenger h2{
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-top: 16px;
    font-weight: 600;
}
.messenger p{
    color: #D9D9D9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 32px;
}
.fb-messenger{
    width: 200px;
    height: 47px;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: #01A8FF;
    border-radius: 6px;
    border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 42px 55px;

}

.fb-messenger i{
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
}


