:root {
    --background-color: #000000;
    --heading-color: #4308C2;
    --subtext-color: #FFFFFF;
    --button-color: #5237D4;
    --button-inactive: #696A6A;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    
}

.square-eyes {
    width: 200px;
    height: 50px;
}


 .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }


.fa-cart-shopping {
    padding-right: 20px;
    color: #FFFFFF;
}

.fa-bars {
    color: #FFFFFF;
}
.product {
    padding: 30px 10px;
}
.movie-heading h1{
    font-family: 'Stalinist One', sans-serif;
    color:#A912F0 ;
    font-size: 26px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 38px;
    padding-left: 10px;

}
.star-rating ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 5px 0px 0px 10px;
}
.star-one, .star-two, .star-thre, .star-four{
    color: #E3CD00;
}
.star-five{
    color: #696A6A;
}
.sub-product-text{
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 14px;
    padding-left: 10px;
}
.rent-movie{
    background-color: var(--button-color);
    color: #FFFFFF;
    width: 144px;
    height: 39px;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
    margin-right: 40px;
}
.buy-movie{
    background-color: var(--button-color);
    color: #FFFFFF;
    width: 144px;
    height: 39px;
    border-radius: 8px;
    border: none;
}
.purchase{
    padding-bottom: 5%;
}
h2{
    padding-top: 26px;
    padding-left: 10px;
}
.cast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
    padding-bottom: 10%;
    
}
p {
 font-size: 14px;
 font-weight: 500;
 text-align: center;
}
span{
    color: #696A6A;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer{
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}
.copy-right{
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 5px;
} 
.footer-paragraph{
    padding-right: 190px;
    padding-left: 25px;
}

.copy-right{
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 5px;
} 

@media (min-width: 430px) {
    .navigation ul{
        display: none;
        }
    .icon-header-two{
        display: none;
    }
    .footer-container{
        display: none;
    }
    .yondu, .groot, .nebula, .kraglin, .mantis{
        display: none;
    }
    a{
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        color: #FFFFFF;
     }
     a:hover{
         color: #4A0FC8;
     }
}
@media (min-width: 1280px) {
    .footer-desk{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #D9D9D9;
        font-family: 'Poppins', sans-serif;
        padding-top: 33px;
        padding-left: 20px;
        padding-bottom: 23px;
        padding-right: 150px;
    }
    .footer-desk-two{
        display: flex;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        padding-left: 70px;
    }
    
    .help{
        padding-right: 199px;
    }
    .footer{
        display: none;
    }
    .copy-right{
        display: none;
    }
    .footer-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
       width: 1440px;
       height: 181px;
       background-color: #181818;
       width: 100%; 
    }
    .word-flex{
        display: flex;
        flex-grow: 1;
        gap: 34px;
        width: 100%;
    }
    .icons-flex{
        display: flex;
        gap: 34px;
        flex-grow: 1;
    }
    .header{
        width: 100%;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .navigation a{
        font-size: 16px;
        font-weight: 400;
        color: #D9D9D9;
        text-decoration: none;
    
    
    } 
    .navigation ul{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 24px;
        list-style-type: none;
        padding: 0px;
        
    }
    .icon-header{
       display: none;
    }
    .fa-cart-shopping{
        display: none;
    }
    .icon-header-two{
        display: flex;
        align-items: center;
        gap: 20px;
        color: #D9D9D9;
        padding-left: 100px;
    }
    .yondu, .groot, .nebula, .kraglin, .mantis{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .product, img{
        width: 100%;
    }
    a{
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
     }
     a:hover{
         color: #4308C2;
     }
}