:root {
    --background-color: #181818;
    --heading-color: #4308C2;
    --subtext-color: #FFFFFF;
    --button-color: #5237D4;
    --button-inactive: #696A6A;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-eyes {
    width: 200px;
    height: 50px;
}

.navigation {
    padding: 20px;
}

.fa-cart-shopping {
    padding-right: 20px;
    color: #FFFFFF;
}

.fa-bars {
    color: #FFFFFF;
}
.card-container{
    width: 412px;
    height: 324px;
    background-color: #252525;
    border-radius: 6px;
    border: 1px solid #5237D4;
    margin: 8px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "one two"
    "one three"
    "one four"
    ;
}
.rent-card{
    grid-area: one;

}
.rent-card img{
    width: 216px;
    height: 308px;
    padding: 5px;
    margin: 8px 0 8px 10px;
}
.card-heading{
    grid-area: two;
    text-align: center;
    margin-top: 75px;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.card-p{
    grid-area: three;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
}
.rent-bttn{
    grid-area: four;
    text-align: center;
}
.btn-one{
    background-color: var(--button-color);
    width: 100px;
    height: 30px;
    font-size: 12px;
    border-radius: 6px;
    border: none;
}
.btn-one a{
    text-decoration: none;
    color: #FFFFFF;
}
.card-container-two{
    width: 412px;
    height: 324px;
    background-color: #252525;
    border-radius: 6px;
    border: 1px solid #5237D4;
    margin: 20px 8px 0 8px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "aa bb"
    "aa cc"
    "aa dd"
    ;
}
.buy-card{
    grid-area: aa;

}
.buy-card img{
    width: 216px;
    height: 308px;
    padding: 5px;
    margin: 8px 0 8px 10px;
}
.buy-heading{
    grid-area: bb;
    text-align: center;
    margin-top: 75px;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.p-buy{
    grid-area: cc;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;

}
.buy-btn{
    grid-area: dd;
    text-align: center;
}
.btn-two{
    background-color: var(--button-color);
    width: 100px;
    height: 30px;
    font-size: 12px;
    border-radius: 6px;
    border: none;
}
.btn-two a{
    text-decoration: none;
    color: #FFFFFF;
}