:root {
    --background-color: #181818;
    --heading-color: #4308C2;
    --subtext-color: #FFFFFF;
    --button-color: #5237D4;
    --button-inactive: #696A6A;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-eyes {
    width: 200px;
    height: 50px;
}

.navigation {
    padding: 20px;
}

.fa-cart-shopping {
    padding-right: 20px;
    color: #FFFFFF;
}

.fa-bars {
    color: #FFFFFF;
}
.success-icon{
    font-size: 100px;
    color: #9B6CFE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 44px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading h1{
color: #FFFFFF;
text-transform: capitalize;
font-size: 32px;
font-weight: 500;
padding-bottom: 44px;
}
.heading p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 36px;
}
.heading img{
    width: 216px;
    height: 308px;
    border-radius: 6px;

}
.play{
    width: 266px;
    height: 44px;
    color: #FFFFFF;
    background-color: #5237D4;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 76px;
    margin-bottom: 48px;
}
